@font-face {src: url(font/Montserrat-Bold.otf);font-family: MontserratBold;}
@font-face {src: url(font/Montserrat-Medium.otf);font-family: MontserratMedium;}
@font-face {src: url(font/Montserrat-Regular.otf);font-family: MontserratRegular;}
@font-face {src: url(font/Montserrat-Light.otf);font-family: MontserratLight;}

/* Nav header */
.top-image{width: 50%;padding-bottom: 10px;}
.navbar_container{padding: 0;}
.padd_none{padding: 0px;}
.navbar-default .navbar-nav>li>a{color: #515251;padding: 5px;font-family: MontserratBold;font-size: 15px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color: #515251;background-color: transparent;border-bottom: 5px solid #1abcd5;font-family: MontserratBold;font-size: 15px;}
.navbar-nav>li {padding: 0px 20px;}
.navbar-default{background-color: #fff;border-color: #fff;min-height: 200px;margin-bottom: 0px;padding: 25px 0;border-bottom: 3px solid #aaa9a9;-moz-box-shadow: 0 5px 28px #585757;-webkit-box-shadow: 0 5px 28px #585757;box-shadow: 0 5px 28px #585757;z-index: 999;}
.navbar-nav>li:last-child{padding-right: 0px !important;}

/* Footer */
.footer_container{background-color: #e6e7e8;}
.footer_head{color: #434345;font-family: MontserratBold;font-size: 14px;}
.footer_content{color: #434345;font-family: MontserratRegular;font-size: 12.5px;}
.footer_icon{padding: 50px 0}

/* index page */
.banner{background: url("../images/banner.png");background-repeat: no-repeat;background-size: cover;}
.header_btn_container{padding-top: 50px;padding-bottom: 555px;padding-left: 30px;}
.btn-primary,.btn-primary:hover,.btn-primary:active, .btn-primary:focus, .btn-primary:visited {color: #d2e280;background-color: #1abcd5;border-color: #1abcd5;border-radius: 20px;font-family: MontserratMedium;font-size: 18px;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{color: #fff;background-color: #1abcd5;border-color: #1abcd5;}
.guide{font-family: MontserratMedium;font-size: 46px !important;color: #fff;}
.introduction_container{background-color: #3f4041;color: #fff;}
.asthma,.diagnosis{padding: 30px 0;}
.asthma_head{font-family: MontserratMedium;font-size: 30px;color: #1abcd5;padding-bottom: 20px;}
.asthma_content{font-family: MontserratMedium;font-size: 17px;color: #fff;padding-bottom: 15px;}
.asthma_head_blue{color: #1abcd5;}
.what_does_left{background-color: #1abcd5;padding: 50px 0;padding-left: 45px;}
.what_does_right{background-color: #e85225;padding: 50px 30px;padding-right: 45px;}
.what_does_left_img{padding: 0}
.what_does_left_content{padding-right: 30px;}
.what_does_container{color: #fff;}
.what_does_head{font-family: MontserratMedium;font-size: 30px;color: #fff;padding-bottom: 20px;margin-top: 0;}
.what_does_content{font-family: MontserratRegular;font-size: 15px;color: #fff;padding-bottom: 10px;}
.what_does_content_yellow{color: #d2e280;}
.diagnosis_head{font-family: MontserratMedium;font-size: 30px;color: #434345;padding-bottom: 20px;margin-top: 0;}
.diagnosis_content{font-family: MontserratMedium;font-size: 17px;color: #434345;padding-bottom: 15px;}

/* symptoms page */
.symptoms_container{color: #fff;}
.symptoms_right{background-color: #1abcd5;padding: 40px 30px;padding-right: 45px;}
.asthma_diagnosis_container{background-color: #3f4041;color: #fff;padding: 30px 0;}
.symptoms_right_list{padding-left: 40px;}
.symptoms_head{font-family: MontserratMedium;font-size: 30px;color: #fff;padding-bottom: 20px;}
.symptoms_content, .symptoms_content li{font-family: MontserratMedium;font-size: 16px;color: #fff;padding-bottom: 5.7px;}
.asthma_diagnosis_head{font-family: MontserratMedium;font-size: 30px;color: #1abcd5;padding-bottom: 20px;}
.asthma_diagnosis_content_container{padding: 0 70px;}
.asthma_diagnosis_content{font-family: MontserratRegular;font-size: 15px;color: #fff;padding-bottom: 15px;}
.asthma_diagnosis_content_blue{color: #1abcd5;}
.asthma_diagnosis_img{padding-top: 10px;}

/* misdiagnosing page */
.misdiagnosing_container{color: #fff;}
.misdiagnosing_left{background-color: #3f4041;color: #fff;padding: 30px;padding-left: 45px;}
.misdiagnosing_right{background-color: #1abcd5;padding: 0}
.misdiagnosing_right_content{color: #fff;padding: 30px;padding-right: 45px;}
.misdiagnosing_head{font-family: MontserratMedium;font-size: 30px;color: #1abcd5;padding-bottom: 20px;}
.misdiagnosing_content, .misdiagnosing_content li{font-family: MontserratRegular;font-size: 15px;color: #fff;}
.misdiagnosing_content{padding-bottom: 12px;}
.misdiagnosing_content li{padding-bottom: 5px;}
.misdiagnosing_head_right{font-family: MontserratMedium;font-size: 30px;color: #fff;padding-bottom: 20px;}
.mis_para{padding-bottom: 20px;font-size: 16.5px;}



@media (min-width:768px) and (max-width:992px){

}
@media (min-width:651px) and (max-width:767px){

}
@media (min-width:501px) and (max-width:650px){

}
@media (min-width:320px) and (max-width:500px){

}