@font-face {src: url(fonts/Montserrat-Bold.otf);font-family: MontserratBold;}
@font-face {src: url(fonts/Montserrat-Medium.otf);font-family: MontserratMedium;}
@font-face {src: url(fonts/Montserrat-Regular.otf);font-family: MontserratRegular;}
@font-face {src: url(fonts/Montserrat-Light.otf);font-family: MontserratLight;}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, a{
	padding: 0px;
	margin: 0px;
}
img {
	width: 100%;
}
.container {
	padding: 0px;
}

/*Header*/
.asthma-fluid{
	background-color: #fff;
	border-color: #fff;
	box-shadow: 0 5px 28px #585757;
	padding: 40px 0 26px;
	z-index: 999;
}
.asthma-container{
	padding: 0px 50px;
	.aafa-logo{
		float: right;
		text-align: right;
		padding-bottom: 34px;
	}
	.mobile-aafa-logo{
		display: none;
	}
	.navbar-header{
		position: relative;
		top: 13px;
		.navbar-brand {
			height: auto;
			padding: 15px 15px;
		}
		.navbar-toggle{
			border-color: #ddd;
			.icon-bar {
				background-color: #888;
			}
		}
	}
	.asthma-navbar{
		padding: 0px;
		ul{
			.menu-item{
				padding: 0px 15px;
				a{
					background-color: transparent;
					border-radius: 0px;
					color: #515251;
					font-family: MontserratBold;
					font-size: 15px;
					padding: 5px;
				}
				&.current-menu-item{
					a {
						border-bottom: 5px solid #0abcd5;
					}
				}
			}
		}
	}
}
@media(min-width: 1200px){
	.asthma-container{
		.navbar-header{
			.navbar-brand {
				img{
					height: 148px;
					width: 290px;
				}
			}
		}
	}
}
@media (min-width: 0px) and (max-width: 767px){
	.asthma-fluid{
		padding: 15px 5px 15px;
	}
	.asthma-container{
		padding: 0px 20px;
		.aafa-logo{
			float: none;
			text-align: center;
			padding-bottom: 0px;
			margin: auto;
			img{
				height: 50px;
			}
		}
		.mobile-aafa-logo{
			display: block;
			text-align: center;
			img{
				height: 50px;
				width: 40%;
			}
		}
		.navbar-header{
			top: 0px;
			.navbar-brand{
				width: 30%;
				padding: 0px 10px;
			}
		}
		.asthma-navbar{
			ul{
				margin: 7.5px 0px;
				.menu-item{
					padding: 0px 15px;
					margin-left: 0px;
					a{
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.asthma-container{
		padding: 0px 0px;
		.aafa-logo{
			padding-bottom: 0px;
			img{
				height: 75px;
				width: 220px;
			}
		}
		.navbar-header{
			top: 23px;
			.navbar-brand{
				width: 50%;
				padding: 0px 10px;
			}
		}
		.asthma-navbar{
			ul{
				.menu-item{
					padding: 0px 10px;
					a{
						font-size: 12px;
					}
				}
			}
		}
		.navbar-right {
			margin-right: 0px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	.asthma-container{
		padding: 0px 0px;
		.aafa-logo{
			img{
				height: 75px;
			}
		}
		.navbar-header{
			.navbar-brand{
				width: 50%;
				padding: 0px 10px;
			}
		}
		.aafa-logo {
			padding-bottom: 0px;
		}
	}
}

.footer-fluid{
	background-color: #fff;
	padding: 0px;
	.footer-container{
		padding: 30px 0px 20px 30px;
		.footer-head{
			color: #434345;
			font-family: MontserratBold;
			font-size: 11px;
			margin-top: 0;
		}
		.footer-content{
			color: #434345;
			font-family: MontserratRegular;
			font-size: 9px;
			margin-bottom: 0;
			text-indent: -10px;
			margin-left: 10px;
		}
		.social-menu{
			padding: 0px;
		}
		.footer-icon{
			padding-top: 8px;
			text-align: center;
			img{
				height: auto;
				width: 45px;
			}
			&.twitter-icon {
				padding-top: 12px;
			}
		}
	}
}
.footer-shadow {
	margin-bottom: -20px;
}
@media (min-width: 768px) and (max-width: 992px){
	.footer-fluid{
		.footer-container{
			padding: 30px 0px;
		}
	}
}

@media (max-width: 767px){
	.footer-fluid{
		.footer-container{
			padding: 30px 0px;
			.twitter-icon a{
				float: right;
			}
			.fb-icon a{
				float: left;
			}
		}
	}
	.footer-shadow {
		margin-top: -2px;
	}
}
@media (max-width: 620px){
	.footer-shadow {
		margin-top: -4px;
	}
}
@media (max-width: 500px){
	.footer-shadow {
		margin-top: -7px;
	}
}
/*Homepage*/

.iia-fluid{
    padding: 0;	
}

.home-fluid{
	background: #052929;
	.homepage-banner {
		background-image:url('../images/banner.jpg');
		background-position: center;
		background-size: cover;
		min-height: 657px;
		padding: 0;
	}
	.download-guide {
		margin-left: 68px;
		position: absolute;
		top: 56px;
		width: auto;
	}
}
.download-guide {
	background-color: #0BBCD5;
	border-radius: 31px;
	padding: 10px 15px 10px 25px;
	text-align: center;
	width: 320px;
	margin: auto;
	h1 {
		color: #fff;
		font-family: 'MontserratRegular';
		font-size: 40px;
		font-weight: 600;
		margin: 4px 0 4px;
		text-shadow: 0px -1px 6px #461e1e;
	}
	#download-guide {
		font-size: 16px;
		text-align: center;
		padding-bottom: 0px;
	}
	a {
		color: #ff0;;
		font-family: 'MontserratBold';
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		text-shadow: 0px 0px 4px #3a2b2b;
	}
}
.intro-fluid{
	background: #EBF5EE;
	.asthma-intro {
		padding: 36px 0px 34px;
		text-align: center;
		
		.intro-content{
			margin: auto;
			max-width: 800px;
		}

		img {
			width: 60px;
		}

		h3 {
			color: #E75425;
			font-family: MontserratMedium;
			font-size: 26px;
			font-weight: 600;
			margin: 12px 0px 18px;
		}

		p{
			color: #515251;
			font-family: MontserratMedium;
			font-size: 15px;
			margin-bottom: 24px;

			span {
				color: #E75425;
				font-family: MontserratBold;
				font-weight: 600;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
.diagnosis-fluid {
	background: #EBF5EE;
	padding: 0px;
}
/*.container-grid{
	width:1170px;
}*/

.left-container{
	width:585px;
	float:right;
	padding: 0px;
}

.right-container{
	width:585px;
	float:left;
	padding: 0px;
}

.home-two-grid{
	.left-grid{
		background: #E75425;
		min-height: 273px;
		padding: 0px;
		overflow: hidden;

		.left-details {
			padding: 44px 30px 40px 60px;
			clear: both;
			overflow: hidden;

			img {
				max-height: 160px;
				max-width: 166px;
				width: auto;
			}

			p {
				color: #fff;
				font-family: MontserratMedium;
				font-size: 15px;
				padding-left: 50px;

				span {
					color: #ff0;
					font-family: MontserratBold;
				}
			}

			div {
				padding: 0px;
			}
		}
	}
	.right-grid{
		background-color: #0abcd5;
		min-height: 273px;
		padding: 0px;

		.right-details {
			background-color: #0abcd5;
			color: #fff;
			padding: 44px 40px 45px 40px;

			h3 {
				font-family: MontserratMedium;
				font-size: 26px;
				margin-bottom: 8px;
				text-align: center;
			}

			p {
				font-family: MontserratMedium;
				font-size: 15px;

				span {
					color: #ff0;
					font-family: MontserratBold;
				}

				&.white-span {
					margin-bottom: 22px;

					span {
						color: #fff;
					}
				}

			}
		}
	}
}

.homepage-diagnosis {
	padding: 24px 0px 22px;
	text-align: center;

	.diagnosis-content {
		max-width: 700px;
		margin: auto;
	}

	img {
		width: 80px;
		height: 60px;
	}

	h3 {
		color: #E75425;
		font-family: MontserratMedium;
		font-size: 26px;
		font-weight: 700;
		margin: 25px 0px 20px;
	}

	p {
		font-family: MontserratMedium;
		font-size: 15px;
		margin-bottom: 19px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
}

@media (min-width:992px) and (max-width:1199px) {

	.home-two-grid .left-grid .left-details {
		padding: 50px 30px 22px 60px;
		max-height: 370px;
		min-height: 370px;
	}

	.home-two-grid .right-grid .right-details {
		max-height: 370px;
		min-height: 370px;
	}

}

@media (max-width:991px) {
	
	.asthma-intro .intro-content, .homepage-diagnosis .diagnosis-content{
		padding: 0 15px;
	}

	.home-two-grid .right-grid .right-details h3 {
		margin-bottom: 15px;
	}

	.home-two-grid .left-grid .left-details {
		p {
			padding-left: 20px;
		}
	}

	.home-two-grid .left-grid .left-details div.col-sm-4 {
		text-align: center;
	}

}

@media (min-width:320px) and (max-width:768px) {

	.home-fluid .homepage-banner {
		min-height: 360px;

		.download-guide {
			margin-left: 34%;
			bottom: 60px;
			width: 35%;
			top: auto;

			h1 {
				font-size: 28px;
				text-shadow: 0px -1px 8px #461e1e;
			}

			a {
				font-size: 12px;
			}
		}
	}
	.download-guide {
		h1 {
			font-size: 28px;
			text-shadow: 0px -1px 8px #461e1e;
		}
		a {
			font-size: 12px;
		}
	}

	.home-two-grid .left-grid .left-details {
		p {
			padding-top: 25px;
		}

		.col-sm-4 {
			text-align: center;
		}
	}

}
@media (min-width:320px) and (max-width:375px) {
	.home-fluid .homepage-banner .download-guide h1 {
		font-size: 25px;
	}
	.download-guide h1 {
		font-size: 25px;
	}
}
@media (min-width:320px) and (max-width:600px) {

	.home-two-grid .left-grid {

		.left-details {
			text-align: center;
			display: block;
			padding: 44px 30px 40px 30px;

			p{
				padding-top: 15px;
				padding-left: 0px;
			}

		}

	}
	.home-fluid .homepage-banner {
		.download-guide {
			margin-left: 18%;
			bottom: 30px;
			width: 65%;
			top: auto;
			padding: 10px 20px 10px 20px;
		}
	}
	.download-guide {
		padding: 10px 20px 10px 20px;
		width: 100%;
	}

}

@media (min-width:1200px) {

	.home-two-grid .left-grid .left-details, .home-two-grid .right-grid .right-details {
		max-height: 273px;
		min-height: 273px;
	}

}

/*Symptoms page*/
.symptoms-fluid{
	padding: 0px;
	.right-grid{
		background: #CFEADF;
		padding: 0px;
		.symptoms-right {
			padding: 0px;
		}
	}

	.left-grid{
		background: #CFEADF;
		padding: 0px;
		.symptoms-left {
			background-color: #CFEADF;
			color: #fff;
			padding: 50px 60px 40px 60px;
			text-align: center;

			img {
				width: 58px;
				height: 45px;
			}

			h3 {
				color: #E75425;
				font-family: MontserratMedium;
				font-weight: 600;
				font-size: 26px;
				margin: 22px 0 18px;
			}

			p {
				color: #515251;
				font-family: MontserratMedium;
				font-size: 23px;
				padding-bottom: 10px;
			}
			ul {
				text-align: left;
				padding-left: 20px;
				li {
					color: #515251;
					font-family: MontserratMedium;
					font-size: 15px;
					margin-bottom: 2px;
				}
			}
			.col-sm-6 {
				padding: 0px;
				.next-ul {
					margin-left: 20px;
				}
			}
		}
	}
}

.asthma-diagnosis-fluid{
	&.head-bg {
		background-color: #515254;
		padding: 15px 0px 4px;
	}
	&.content-bg {
		background-color: #EBF5EE;
		padding: 15px 0px 4px;
	}
	&.content-bg-1 {
		background-color: #CFEADF;
		padding: 15px 0px 4px;
	}
	.asthma-diagnosis {
		color: #fff;
		text-align: center;
		padding: 0;

		.asthma-diagnosis-head, .diagnosis-details {
			max-width: 990px;
			margin: auto;
		}

		.asthma-diagnosis-head{
			padding-top: 24px;
			img {
				height: 60px;
				width: 80px;
			}

			h3 {
				font-family: MontserratMedium;
				font-size: 26px;
				color: #FF0;
				margin: 11px 0px 15px;
			}

			p {
				font-family: MontserratMedium;
				font-size: 16px;
				color: #fff;
				margin: auto;
				width: 74%;
				margin-bottom: 22px;
			}
		}

		.diagnosis-details {
			overflow: hidden;
			clear: both;
			padding: 0px;

			img {
				height: 66px;
				margin-top: 10px;
				width: 66px;
			}

			p {
				font-family: MontserratMedium;
				font-size: 15px;
				color: #515254;
				text-align: left;
				margin-left: 5px;

				&.common-title {
					font-family: MontserratBold;
					font-size: 16px;
					padding-bottom: 15px;
					text-align: left;
				}

				span {
					color: #E75425;
					font-family: MontserratMedium;
				}
			}

			div {
				margin-bottom: 22px;
				padding: 0;

				ul {
					list-style-type: none;
					margin-top: 25px;
					li {
						margin-bottom: 25px;
						padding-left: 10px;

						p {
							margin-left: 0px;

							span {
								color: #0ABCD5;
							}
						}
					}
					div {
						margin-bottom: 0px;
					}
				}
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}

@media (min-width:1200px) {

	.symptoms-fluid .left-grid .symptoms-left, .symptoms-fluid .right-grid .symptoms-right, .symptoms-fluid .right-grid .symptoms-right img {
		max-height: 430px;
		min-height: 430px;
	}
	.asthma-diagnosis-fluid .asthma-diagnosis .diagnosis-details div ul .asthma-methacholine{
		margin: 30px 0px;
	}
}
@media (max-width:1200px) {
	.symptoms-fluid .left-grid .symptoms-left {
		padding: 32px 15px 21px 22px;
	}
}
@media (min-width:991px) and (max-width:1200px) {
	.symptoms-fluid .left-grid .symptoms-left p {
	    font-size: 20px;
	    padding-bottom: 0px;
	}
}
@media (min-width:768px) and (max-width:1200px) {
	.symptoms-fluid .right-grid .symptoms-right img, .symptoms-fluid .left-grid .symptoms-left {
		min-height: 385px;
		max-height: 385px;
	}
} 
@media (max-width:500px) {

	.symptoms-fluid .left-grid .symptoms-left {
		padding: 36px 40px 21px 40px;
	}

}
@media (max-width:991px) {

	.diagnosis-details p {
		margin-left: 0px;
	}

	.asthma-diagnosis .diagnosis-details div ul li {
		padding-left: 30px;
	}

	.symptoms-fluid .left-grid .symptoms-left .col-sm-6 .next-ul {
		margin-left: 40px;
	}
}
@media (max-width:768px) {

	.symptoms-fluid .left-grid .symptoms-left .col-sm-6 .next-ul {
		margin-left: 0px;
	}

	.asthma-diagnosis-fluid .asthma-diagnosis {
		padding: 0 15px;
	}
	.asthma-diagnosis-fluid .asthma-diagnosis .diagnosis-details div ul li{
		margin-bottom: 0px;
	}
	.asthma-diagnosis-fluid .asthma-diagnosis .diagnosis-details div{
		margin-bottom: 15px;
	}
	.asthma-diagnosis-fluid .asthma-diagnosis .diagnosis-details div:last-child{
		margin-bottom: 10px;
	}
	.asthma-diagnosis-fluid .asthma-diagnosis .diagnosis-details div ul{
		margin-top: 10px;
	}
}

/*Misdiagnosing page*/
.misdiag-fluid{
	.left-grid{
		background:#CCE7DC;
		padding:0;

		.asthma-like-conditions{
			color: #fff;
			text-align: center;
			min-height: 892px;
			padding: 45px 48px 30px;
			img{
				width: 58px;
				height: 45px;
			}
		}	
		h3{
			color: #E75425;
			font-family: MontserratMedium;
			font-weight: 700;
			font-size: 26px;
			margin: 22px 0 18px;
		}
		p{
			color: #515254;
			font-family: MontserratMedium;
			font-size: 15px;
			padding-bottom: 25px;
			text-align: left;
		}
		ul{
			padding-left: 40px;
			padding-bottom: 25px;
			li{
				color: #515254;
				font-family: MontserratMedium;
				font-size: 15px;
				text-align: left;
				line-height: 23px;
			}
		}
	}

	.right-grid{
		padding:0;
		.misdiagnosing-asthma{
			text-align: center;
			min-height: 592px;
			max-height: 592px;
			padding: 0;
			.diagnosis-white{
				height: 60px;
				width: 80px;
			}
			h3{
				color: #E75425;
				font-family: MontserratMedium;
				font-weight: 700;
				font-size: 26px;
				margin: 22px 0 18px;
			}
			img {
				max-height: 300px;
			}
			p{
				color: #515254;
				font-family: MontserratMedium;
				font-size: 15px;
				padding-bottom: 25px;
				text-align: left;
			}
		}
		.misdiagnosing{
			padding: 83px 48px 50px;
		}
		.col-xs-12 {
			padding: 0px;
			&.banner-image {
				background-color: #A0D7C0;
			}
			&.page-content {
				background-color: #EBF5EE;
			}
		}
	}
}
.misdiag-two-grid{
	text-align: center;
	.left-grid{
		background: #E75425;
		min-height: 250px;
		padding: 0px;
		overflow: hidden;

		.left-details {
			padding: 27px 48px 27px 48px;
			clear: both;
			overflow: hidden;

			img {
				width: auto;
			}

			p {
				color: #fff;
				font-family: MontserratMedium;
				font-size: 15px;

				span {
					font-family: MontserratBold;
				}
				&:first-child {
					margin: 15px 0px;
					padding: 0px 61px;
					font-size: 16px;
				}
			}

			div {
				padding: 0px;
			}
		}
	}
	.right-grid{
		background-color: #0ABCD5;
		min-height: 250px;
		padding: 0px;

		.right-details {
			color: #fff;
			padding: 53px 48px 27px 48px;

			img {
				width: 100px;
			}

			p {
				font-family: MontserratMedium;
				font-size: 15px;
				color: #fff;
				padding: 0 30px;

				span {
					font-family: MontserratBold;
				}

				&:first-child {
					margin: 15px 0px;
					font-size: 16px;
					padding: 0 30px;
				}

			}
		}
	}
}

@media (min-width: 768px) {
	.asthma-like-conditions, .misdiagnosing-asthma {
		max-height: 660px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.right-container {
		img.img-banner {
			min-height: 283px;
		}
	}
	.misdiag-fluid .right-grid .misdiagnosing-asthma {
		min-height: 617px;
		max-height: 617px;
	}
	.misdiag-two-grid .left-grid .left-details {
		max-height: 300px;
		min-height: 300px;
	}

	.misdiag-two-grid .right-grid .right-details {
		max-height: 300px;
		min-height: 300px;
	}
	.misdiag-fluid .left-grid .asthma-like-conditions {
		min-height: 900px;
	}
	.misdiag-two-grid .left-grid .left-details p:first-child {
		padding: 0px 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.misdiag-fluid .left-grid .asthma-like-conditions{
		min-height: 901px;
		padding: 30px 20px 30px 30px;
	}
	.misdiag-fluid .right-grid .misdiagnosing-asthma {
		padding: 30px 30px;
		max-height: 658px;
	}
	.right-container {
		img.img-banner {
			min-height: 243px;
		}
	}
}
@media (min-width: 0px) and (max-width: 767px){
	.asthma-like-conditions{
		min-height: 0px;
		padding: 30px 30px;
	}
	.misdiagnosing-asthma{
		.misdiagnosing{
			padding: 30px 30px;
		}
	}
	.misdiag-two-grid .left-grid .left-details p:first-child {
		padding: 0 0px;
	}
	.misdiag-two-grid .right-grid .right-details p:first-child {
		padding: 0 0px;
	}
}
@media (min-width: 1200px) {
	.right-container {
		img.img-banner {
			min-height: 300px;
		}
	}
}
@media (min-width: 768px) {
	.right-container, .left-container {
		width: 375px;
	}
}
@media (min-width: 992px) {
	.right-container, .left-container {
		width: 485px;
	}
}
@media (min-width: 1200px) {
	.right-container, .left-container {
		width: 585px;
	}
}
@media (max-width: 767px) and (min-width: 0px) {
	.right-container, .left-container {
		width: 100%;
	}
}
@media (max-width: 991px) and (min-width: 0px) {
	.home-two-grid, .symptoms-fluid, .misdiag-two-grid {
		.right-container, .left-container {
			width: 100%;
		}
	}
	.misdiag-two-grid .right-grid .right-details h3 {
		margin-bottom: 15px;
	}

	.misdiag-two-grid .left-grid .left-details {
		p {
			padding-left: 20px;
		}
	}

	.misdiag-two-grid .left-grid .left-details div.col-sm-4 {
		text-align: center;
	}
}